*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.wrapper{
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
}
.container{
    height: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}
.container h1{
    margin: 20px 0;
    text-align: center;
    margin-bottom: 20px;
    font-size: 3rem;
}
.Gallery{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.card{
    width: 32%;
    position: relative;
    margin-bottom: 20px;
    border-radius: 10px;
    overflow: hidden;
    
    
}
.card img{
    width: 100%;
    height: 100%;
    filter: grayscale(100%);
    box-shadow: 0 0 20px #333;
    object-fit: cover;
    
}